@blue: #3190e8;  
@bc: #e4e4e4;
@fc:#fff;

// 背景图片地址和大小
.bis(@url) { 
	background-image: url(@url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

//定位全屏
.allcover{
	position:absolute;
	top:0;
	right:0;
}

//transform上下左右居中
.ctt {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
//定位上下左右居中
.ctp(@width, @height) {  
	position: absolute;
	top: 50%;
    left: 50%;
    margin-top: -@height/2;
    margin-left: -@width/2;
}

//定位上下居中
.tb {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
.lr {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

//宽高
.wh(@width, @height){
	width: @width;
	height: @height;
}

//字体大小、行高、字体
.ft(@size, @line-height) {  
	font-size: @size;
	line-height:@line-height;
}

//字体大小，颜色
.sc(@size, @color){
	font-size: @size;
	color: @color;
}

//flex 布局和 子元素 对其方式
.fj(@type: space-between){
	display: flex;
	justify-content: @type;

}
//浮动
.fl {
	float: left;
	overflow: hidden;
}
.fr {
	float: right;
	overflow: hidden;
}
// flex弹性布局样式
.drc {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.dfcc {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.dfrcb {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.dfrb {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.dfrca {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
//字体大小
.ft14 {font-size: 14px;}
.ft16 {font-size: 16px;}
.ft18 {font-size: 18px;}
.ft20 {font-size: 20px;}
.ft22 {font-size: 22px;}
.ft24 {font-size: 24px;}
//字体加粗
.blod {font-weight: 700;}
//外边距样式;
.mt10{margin-top: 10px;};.mt20{margin-top: 20px;};.mt30{margin-top: 30px;};.mt40{margin-top: 40px;};.mt50{margin-top: 50px;};
.mb10{margin-bottom: 10px;};.mb20{margin-bottom: 20px;};.mb30{margin-bottom: 30px;};.mb40{margin-bottom: 40px;};.mb50{margin-bottom: 50px;};
.ml10{margin-left: 10px;};.ml20{margin-left: 20px;};.ml30{margin-left: 30px;};.ml40{margin-left: 40px;};.ml50{margin-left: 50px;};
.mr10{margin-right: 10px;};.mr20{margin-right: 20px;};.mr30{margin-right: 30px;};.mr40{margin-right: 40px;};.mr50{margin-right: 50px;};
//内边距样式;
.pt10{padding-top: 10px;};.pt20{padding-top: 20px;};.pt30{padding-top: 30px;};.pt40{padding-top: 40px;};.pt50{padding-top: 50px;};
.pb10{padding-bottom: 10px;};.pb20{padding-bottom: 20px;};.pb30{padding-bottom: 30px;};.pb40{padding-bottom: 40px;};.pb50{padding-bottom: 50px;};
.pl10{padding-left: 10px;};.pl20{padding-left: 20px;};.pl30{padding-left: 30px;};.pl40{padding-left: 40px;};.pl50{padding-left: 50px;};
.pr10{padding-right: 10px;};.pr20{padding-right: 20px;};.pr30{padding-right: 30px;};.pr40{padding-right: 40px;};.pr50{padding-right: 50px;};
//文本对齐方式
.text-c{text-align: center};.text-l{text-align: left};.text-r{text-align: right};
/*背景色样式*/
.bg-red{background: #C96148;}
.bg-fff{background: #fff;}
.bg-fa{background: #fafafa;}
.bg-f62{background: #F62135;}
.bg-00a{background: #00AD59;}
.bg-409{ background: #409eff;}
/* 字体颜色 */
.color-red{color:#C96148}
.color-666{color: #666;}
.color-fff{color: #fff;}
.color-333{color: #333;}
.color-999{color: #999;}
.color-b3{color: #b3b3b3;}
.color-00a{color: #00AD59;}
.color-90{color: #909090;}
.color-409 {color: #409eff;}
.color-60 {color: #606266};
//table表格公共样式
.public_table_list {
	padding: 0 50px;
	border-top: 1px solid #ffffff;
	.public_table {
		margin-top: 20px;
		border: 1px solid #EBEEF5;
		border-bottom: none;
	}
}